
<div class="container" id="display_question">
    <div class="row">
        <h3> {{{name}}} </h3>
        <button> Delete</button>
        <button> Edit </button>
    </div>
    <div class="row">
    </div>

    <div class="row">
        <h3> {{question.title}}</h3>
    </div>
        <div class="row">
        {{#each question.options}}
            <div class="col-sm-5">
                <strong> {{this.option}} </strong>
            </div>
        {{/each}}
    </div>
</div>
