
<h2 id="q_title"> {{name}} </h2>
<form id="edit_title" method="POST" style="display:none" action="/management/edit/{{id}}"> 
    <label for="title"> New title:</label>
    <input type="text" id="title" name="title">
    <button type="submit"><i class="lni-save"></i></button>
</form>
<button id="title_editable" onclick="toggleTitleEdit()">
  <i class="lni-pencil"></i>
</button>

<div class="form-group">
<form id="edit_form" method="POST" action="/management/question/add/{{id}}">
    <div class="row">
        <div class="col">
          <label for="Question">Question: </label>
          <input type="text" id="Question" name="Question">
        </div>

        <div class="col">
          <label for="1">Correct answer: </label>
          <input type="text" id="1" name="1">
        </div>
    </div>
    <h3> Fake answers. Minimum is 3. </h3>
    <div class="row" id="fake_ans">
        <div class="col-sm-5">
          <label for="2">Answer: </label>
          <input type="text" id="2" name="2"> 
        </div>

        <div class="col-sm-5">
          <label for="3">Answer: </label>
          <input type="text" id="3" name="3"> 
        </div>

        <div class="col-sm-5">
          <label for="4">Answer: </label>
          <input type="text" id="4" name="4"> 
        </div>
    </div>

    <div class="row">
        <button type="Submit">Add question </button>
        <button type="Reset">Clear </button>
        <input id="add" type="button" value="Add an answer" onclick="addAnswer();" />
    </div>

</form>
</div>
<div class="container">
    {{#if questions}}
        {{#each questions}}
            {{>display_question question=this}} 
        {{/each}}
    {{else}}
        <h3> Empty! Go make some questions </h3>
    {{/if}}
</div>
