<li class="top_li">
    <a href="#" onclick="toggle({{value}});" class="link">{{name}}</a>
    <div class="row" id="list_buttons">
        <form action="/management/questionaire" method="GET">
            <input type="hidden" name="id" value="{{id}}"/> 
            <button type="submit" class="btn btn-primary h-100"><i class="lni-pencil"></i></a></button>
        </form>
        <form action="/management/delete/{{id}}">
            <button type="submit" class="btn btn-primary h-100"><i class="lni-trash"></i></a></button>
        </form>
    </div>
    <ul class="submenu">
        {{#each questions}}
            {{>question_listing name=this.title}}
        {{/each}}
    </ul>
</li>
