<div id="exercise" class="container">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body justify-content-around">
                <h3 id="title" class="text-center mb-3">
                    Gameover. You got {{this.points}}. Click submit to submit the answer to the system.
                </h3>
                <form method="POST">
                    <button id="grade" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
