<div class="row">
    <div class="col-md-10 col-sm-10" id="quiz">
        <form method="POST">
            {{>question this}}
            {{>answer_listing this}}
        </form>
    </div>

    <div class="col-md-2 col-sm-2 sideMenu">
        <p>Points: {{this.points}}</p>
        <p>Help:</p>
        <div class="col-md-12 help">
            <div class="row">
                <button class="btn col-md-12 btn-outline-success">50:50</button>
                <button class="btn col-md-12 btn-outline-success">Hint</button>
                <button class="btn col-md-12 btn-outline-success">Vote</button>
                <button id="skip" class="btn col-md-12 btn-outline-success">Skip</button>
            </div>
        </div>
    </div>
</div>
