<div id="startMenu" class="startMenu">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h3 id="title" class="text-center mb-3">Who wants to be millionaire</h3>
                <h4 class="instructions text-left mb-2">Introduction</h4>
                <p>
                    Welcome to Who wants to be millionaire.
                    Student can choose start to begin or rules to understand how to play
                </p>
                <form method="POST" action="/start">
                    <button id="start" type="submit" class="btn btn-primary">Start</button>
                </form>
                <form method="POST" action="/rules">
                    <button id="rules" type="submit" class="btn btn-primary">Rules</button>
                </form>
            </div>
        </div>
    </div>
</div>
