<div class="row">
    <div class="col-md-10 col-sm-10 container">
        {{>question this}}
        {{>answer_listing this}}
    </div>

    <div class="col-md-2 col-sm-2 sideMenu">
        <h4>Time left: 15</h4>
        <h4>Help:</h4>
        <div class="col-md-12 help">
            <div class="row">
                <button class="btn col-md-12 col-xs-12">50:50</button>
                <button class="btn col-md-12 col-xs-12">Call</button>
                <button class="btn col-md-12 col-xs-12">Vote</button>
            </div>
        </div>
    </div>
</div>
