<head>
    <script type="text/javascript" src="/js/management.js"> </script>
    <link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet">
</head>
{{>messages}}
<aside class="questionaires" id="questionaires"> 
    <div class="container">
        <div class="row">
            <input type="text" class="questionaires_search" placeholder="Search...">
            <form action="/management/add" method="GET" id="questionaires_add"> 
              <button type="submit" ><i class="lni-plus"></i> </button>
            </form>
        </div>
        <div class="row">
            <ul class="questionaires ul">
            {{#if questionaires}}
                {{#each questionaires}}
                    {{#if this.title}}
                        {{>questionaire_listing value=@index name=this.title questions=this.questions id=this._id}}
                    {{/if}}    
                {{/each}}
            {{else}} 
                   <li> empty </li>
            {{/if}}
            </ul>
        </div>
    </div>
</aside>


<div class="editing_view" class="container">
    {{#if questionaire}}
        {{>editView name=questionaire.title questions=questionaire.questions q_id=questionaire._id}}
    {{else}}
        <h1> Add a new questionaire and the first question.</h1>
    <div class="form-group">
    <form id="edit_form" method="POST" action="/management/add/{{q_id}}">
        <div class="row">
            <div class="col">
              <label for="Question">Questionaire title: </label>
              <input type="text" id="Question" name="Question" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
              <label for="Question">Question: </label>
              <input type="text" id="Question" name="Question" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
              <label for="points">Points:</label>
              <input type="number" id="points" name="points" required>
            </div>

            <div class="col">
              <label for="1">Correct answer: </label>
              <input type="text" id="1" name="options[1][option]" required>
              <input type="hidden" name="options[1][correctness]" value="true" required>
            </div>
            
            <div class="col">
              <label for="hint1">Hint(optional): </label>
              <input type="text" id="hint1" name="options[1][hint]"> 
            </div>

        </div>
        <h3> Fake answers. Minimum is 3. </h3>
        <div class="row" id="fake_ans">
            <div class="col-sm-5">
              <label for="2">Answer: </label>
              <input type="text" id="2" name="options[2][option]" required> 
            </div>

            <div class="col-sm-5">
              <label for="hint2">Hint(optional): </label>
              <input type="text" id="hint2" name="options[2][hint]"> 
              <input type="hidden" name="options[2][correctness]" value="false" required>
            </div>

            <div class="col-sm-5">
              <label for="3">Answer: </label>
              <input type="text" id="3" name="options[3][option]" required> 
            </div>

            <div class="col-sm-5">
              <label for="hint3">Hint(optional): </label>
              <input type="text" id="hint3" name="options[3][hint]"> 
              <input type="hidden" name="options[3][correctness]" value="false" required>
            </div>

            <div class="col-sm-5">
              <label for="4">Answer: </label>
              <input type="text" id="4" name="options[4][option]" required> 
            </div>

            <div class="col-sm-5">
              <label for="hint4">Hint(optional): </label>
              <input type="text" id="hint4" name="options[4][hint]"> 
              <input type="hidden" name="options[4][correctness]" value="false" required>
            </div>
        </div>

        <div class="row">
            <button type="Submit">Add question </button>
            <button type="Reset">Clear </button>
            <input id="add" type="button" value="+" onclick="addAnswer();" />
        </div>
    {{/if}}
</div>
