<head>
    <script type="text/javascript" src="/js/management.js"> </script>
    <link href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css" rel="stylesheet">
</head>
{{>messages}}
<aside class="questionaires" id="questionaires"> 
    <div class="container">
        <div class="row">
            <input type="text" id="search" class="questionaires_search" placeholder="Search..." onkeyup="search()">
            <form action="/management/add" method="GET" id="questionaires_add"> 
              <button type="submit"  class="btn btn-primary h-100"><i class="lni-plus"></i> </button>
            </form>
        </div>
        <div class="row">
            <ul class="questionaires ul" id="questionaires_ul">
            {{#if questionaires}}
                {{#each questionaires}}
                    {{#if this.title}}
                        {{>questionaire_listing value=@index name=this.title questions=this.questions id=this._id}}
                    {{/if}}    
                {{/each}}
            {{else}} 
                   <li> empty </li>
            {{/if}}
            </ul>
        </div>
    </div>
</aside>


<div class="editing_view" class="container">
    {{#if questionaire}}
        {{>editView name=questionaire.title questions=questionaire.questions q_id=questionaire._id}}
    {{else if question}}
        {{>editPage question=question q_id=q_id}}
    {{else}}
  <h4> Here you can create a new questionnaire's and add the first question. </h4>
  <ul id="instructions" align="left">
    <li>
      From the left you can edit existing questionnaire's and questions.
    </li>
    <li>
      There you can also search.
    </li>
    <li>
      Please take note that each question should have atleast one correct answer and atleast
      4 choices.
    </li>
  </ul>

  <form id="edit_form" method="POST" action="/management/add">
    <div class="row">
      <div class="col">
        <label for="q_title"> Questionnaire title: </label>
        <input type="text" id="q_title" name="q_title" required>
      </div>
    </div>

    <div class="row">
        <div class="col">
          <label for="Question">Question: </label>
          <input type="text" id="Question" name="Question" required>
        <div class="col">
          <label for="points">Points:</label>
          <input type="number" id="points" name="points" required>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <label>Answer</label>
      </div>

      <div class="col-sm-4">
        <label>Hint(optional) </label>
      </div>

      <div class="col-sm-4">
        <label>Corrrect </label>
      </div>
    </div>

    <div class="row" id="fake_ans">
        <div class="col-sm-5">
          <input type="text" id="1" name="options[1][option]" required>
        </div>
        
        <div class="col-sm-5">
          <input type="text" id="hint1" name="options[1][hint]"> 
        </div>

        <div class="col-sm">
          <input type="checkbox" name="options[1][correctness]">
        </div>

        <div class="col-sm-5">
          <input type="text" id="2" name="options[2][option]" required> 
        </div>

        <div class="col-sm-5">
          <input type="text" id="hint2" name="options[2][hint]"> 
        </div>

        <div class="col-sm">
          <input type="checkbox" name="options[2][correctness]">
        </div>

        <div class="col-sm-5">
          <input type="text" id="3" name="options[3][option]" required> 
        </div>

        <div class="col-sm-5">
          <input type="text" id="hint3" name="options[3][hint]"> 
        </div>

        <div class="col-sm">
          <input type="checkbox" name="options[3][correctness]">
        </div>

        <div class="col-sm-5">
          <input type="text" id="4" name="options[4][option]" required> 
        </div>

        <div class="col-sm-5">
          <input type="text" id="hint4" name="options[4][hint]"> 
        </div>

        <div class="col-sm">
          <input type="checkbox" name="options[4][correctness]">
        </div>
    </div>

    <div class="row">
        <button type="Submit" class="btn btn-primary h-100">Add question </button>
        <button type="Reset" class="btn btn-primary h-100">Clear </button>
        <input id="add" type="button" value="+" onclick="addAnswer();"  class="btn btn-primary h-100"/>
    </div>
  </form>
    {{/if}}
</div>
