<head>
    <script type="text/javascript" src="/js/management.js"> </script>
</head>
<aside class="questionaires" id="questionaires"> 
    <div class="container">
        <div class="row">
            <input type="text" class="questionaires_search" placeholder="Search...">
            <button type="button" id="questionaires_add"> + </button>
        </div>
        <div class="row">
            <ul class="questionaires ul">
                {{>questionaire_listing value=1 name="Questinaire1 with a suuuuuper long name"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
                {{>questionaire_listing value=1 name="Questinaire1"}}    
                {{>questionaire_listing value=2 name="Questinaire2"}}    
                {{>questionaire_listing value=3 name="Questinaire3"}}    
                {{>questionaire_listing value=4 name="Questinaire4"}}    
            </ul>
        </div>
    </div>
</aside>


<div class="editing_view" class="container">
    {{#if first_time}}
    <h1> First time</h1>
    {{else}}
    {{>editView name="Questionaire"}}
    {{/if}} 
</div>
