<div id="rules" class="rules">
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h3 id="title" class="text-center mb-3">Who wants to be millionaire</h3>
                <h4 class="instructions text-left mb-2">How to play</h4>
                <p>
                    Students can choose one of the following topics in the questionaire: <br>
                    Mathematics, Finnish, Vietnamese, History.<br>
                    Each game, students can get maximum 15 points, equivalent to 15 questions. <br>
                    If the students answer one wrong, they needs
                    to start from question one again.<br>
                    There are four possible aids in the game, and the students can use each of them once.<br>
                    50/50: remove half of wrong answers<br>
                    Ask the audience: See what other students think about this question<br>
                    Skip: skip this question<br>
                    *2: Get two points if answer this question right.<br>
                </p>
                <img class = "img-fluid" src="../public/img/good-luck-you-a6a6318cbc.jpg">
            </div>
        </div>
    </div>
</div>
