#assignment {
	font-weight: bold;
	font-size: 1.3rem;
	width: 675px;
	padding: 5px;
	margin: 15px auto;
}

#container {
	display: flex;
	flex-flow: row wrap;
	width: 675px;
	min-height: 64px;
	padding: 5px;
	margin: 15px auto;
	border: 2px solid black;
}

#container div {
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	margin: 5px;
}

#bubbles div:hover,
#container div:hover {
	color: aquamarine;
}

#bubbles {
	width: 620px;
	min-height: 700px;
	padding: 10px;
	position: relative;
	border: 2px solid black;
	margin: 15px auto;
}

.bubble {
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	border: 2px solid black;
	border-radius: 10px;
	margin: 5px;
	position: absolute;
	max-width: 185px;
}

.red {
	background: red;
}

.yellow {
	background: yellow;
}

.blue {
	/* background: blue; */
	background: lightskyblue;
}

.green {
	background: green;
}

.hidden {
	display: none;
}

textarea {
	resize: none;
}

/*
    Added afterwards
    To enable the visibility toggle
 */

.submenu {
	display: none;
	overflow: auto;
	white-space: wrap;
}

#questionaires {
	float: left;
	width: 25%;
	height: 100%;
        background-color:#ECECEC;
        border: 2px solid #D7D5D5;
}
#list_buttons{
        margin-left: 0px;
}

.link {
        font-size: 140%;
        color: black;
}

.editing_view {
	float: right;
	height: 80%;
	text-align: left;
	width: 75%;
	height: 89vh;
	overflow-y: auto;
	overflow-x: hidden;
        background-color:#ECECEC;
        border: 2px solid #D7D5D5;
}

.questionaires.ul {
	height: 85vh;
	width: 100%;
	overflow-y: auto;
	list-style-type: circle;
	margin: 0;
	padding: 0;
}

.questionaires.li {
	white-space: wrap;
	list-style-type: circle;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.questionaires_search {
	float: left;
	margin: 0 auto;
	width: 85%;
	height: 5%;
}

#questionaires_add {
	width: 15%;
	float: right;
}

#edit_form {
	float: none;
	padding: 10px 10px 10px 30px;
}

#edit_form div {
	padding: 5px 5px 5px 5px;
}

#edit_form label {
	padding-right: 1%;
	padding-left: 5px;
}

#display_question div [class="col-sm"] {
	padding: 5px 5px 5px 5px;
	float: left;
	margin: 0 auto;
	width: 100%;
}

button[name = "option"] {
	padding: 10px 20px;
	margin-bottom: 10px;
	width: 20px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
