#assignment {
	font-weight: bold;
	font-size: 1.3rem;
	width: 675px;
	padding: 5px;
	margin: 15px auto;
}

#container {
	display: flex;
	flex-flow: row wrap;
	width: 675px;
	min-height: 64px;
	padding: 5px;
	margin: 15px auto;
	border: 2px solid black;
}

#container div {
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
	margin: 5px;
}

#quiz {
	border: 2px solid #428bca;
	border-radius: 10px;
}

#bubbles div:hover,
#container div:hover {
	color: aquamarine;
}

#bubbles {
	width: 620px;
	min-height: 700px;
	padding: 10px;
	position: relative;
	border: 2px solid black;
	margin: 15px auto;
}

.bubble {
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	border: 2px solid black;
	border-radius: 10px;
	margin: 5px;
	position: absolute;
	max-width: 185px;
}

.red {
	background: red;
}

.yellow {
	background: yellow;
}

.blue {
	/* background: blue; */
	background: lightskyblue;
}

.green {
	background: green;
}

.hidden {
	display: none;
}

textarea {
	resize: none;
}

/*
    Added afterwards
    To enable the visibility toggle
 */

.submenu {
	display: none;
	overflow: auto;
	white-space: nowrap;
}

.questionaires {
	align-items: left;
	float: left;
	width: 25%;
}

.editing_view {
	float: right;
	height: 80%;
	text-align: center;
	width: 75%;
}

.questionaires.ul {
	position: absolute;
	top: 13%;
	bottom: 3%;
	left: 3%;
	overflow-y: scroll;
	list-style-type: square;
	border: 2px;
	margin: 0;
	padding: 0;
}

.questionaires.li {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

.questionaires_search {
	float: left;
	margin: 0 auto;
	width: 100%;
}

button[name = "option"] {
	padding: 10px 20px;
	margin-bottom: 10px;
	width: 20px;
}
